.app{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.image1{
  height: 500px;
  width: 50%;
}
.heading{
  color: #46413c;
  margin: auto;
  font-family: cursive;
    font-size: 20px;
    width: 50%;
}
.weAre{
    text-align: center;
    font-size: 40px;
    font-family: ui-monospace;
    color: darkred;
    background: linear-gradient( 
90deg
 ,#f15c2c 0%,#212121 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #2d191900;
}
.para1{
  padding: 15px;
  margin-bottom: 0px;
  color:black;
  background-color: #fff9f0;
padding-left: 30px;
text-align: center;

}
.para21{
  padding: 15px;
  margin-top: -20px;
padding-left: 30px;
margin-bottom: 0px;
font-family: cursive;
text-align: center;
}
.para2{
  padding: 15px;
  margin-bottom: 0px;
  font-family: cursive;
text-align: center;
}
.name{
    position: relative;
    display: inline-flex;
    width: 100%;
    border: rgba(red, green, blue, alpha);
}
.input1{
    display: flex;
}
.sendButton{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 12px;
    margin: 10px;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    text-align: center;
}
.sendSpan{
    width: 100%;    
}

.card1{
    background-color: azure;
    display: flex;
}
.imgcard1{
    width: 50%;
    height: 200px;
    float: right;
    padding: 20px;
}
.textcard1{
    width: 300px;
    text-align: center;
    font-family: 'Roboto';
}
.card2{
    background-color: rgb(122, 187, 70);
    display: flex;
}
.imgcard2{
    width: 50%;
    height: 200px;
    float: left;
    padding: 20px;
}
.textcard2{
    width: 300px;
    text-align: center;
    font-family: 'Roboto';
    float: right;
}
.container1{
    display: flex;
    background-color: #fff9f0;
    height: 300px;
}
.image{
  height: 400px;
  margin-top: -50px;
  width: 600px;
  margin-left: -50px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0,1), rgba(0, 0, 0, 0));
  z-index: 1;
}


@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: #111;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}


.container2 {
  background-color:#efe4d6;
}

.text{
    padding: 10px;
    width: 250px;
    text-align: center;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-size: 30px;
    padding-top: 30px;
    margin: auto;
    font-weight: bold;
    background: linear-gradient(
      72deg
      ,#f15c2c 0%,#212121 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.card1Img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}



.container {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 0;
  background-color: #efe4d6;
}
.container .card {
  position: relative;
  width: 70%;
  height: 350px;
  background: #fff;
  margin: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.container .card .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;
}
.container .card .imgBx .fab {
  font-size: 4em;
}
.container .card .imgBx .fa-angular {
  background-color: #ff753b;
  background-image: linear-gradient(45deg, #ff753b 0%, #FF2525 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .card .imgBx .fa-react {
  background-color: #409eff;
  background-image: linear-gradient(45deg, #4F29CD 0%, #409eff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .card .imgBx .fa-vuejs {
  background-color: #74EBD5;
  background-image: linear-gradient(45deg, #74EBD5 0%, #9FACE6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .card:hover .imgBx {
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
}
.container .card .content {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 30px;
}
.container .card .content h3 {
  font-size: 30px;
  margin-bottom: 5px;
  padding-left: 70px;
  text-align: center;
}
.container .card .content p {
  font-size: 20px;
  padding-left: 70px;
}
.container .card .content a {
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 70px;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  z-index: 1;

}
.para1h3{
  
  font-family: 'Montserrat';

}
.ul1{
  font-family: cursive;
}
.container .card .content #angular {
  color: #ff753b;

}
.container .card .content #react {
  color: #60dafa;
}
.container .card .content #vue {
  color: #43b885;
}
.container .card .content a:hover {
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 400%;
  }
}
.container .card:after,
.container .card:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg, #ff753b 0%, #FF2525 74%);
  background-size: 400%;
  border-radius: 20px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: border 20s linear infinite;
}
.container .card:after {
  filter: blur(20px);
}
.container .card:nth-child(2)::before,
.container .card:nth-child(2)::after {
  background-image: linear-gradient(45deg, #4F29CD 0%, #409eff 100%);
}
.container .card:nth-child(3)::before,
.container .card:nth-child(3)::after {
  background-image: linear-gradient(45deg, #74EBD5 0%, #9FACE6 100%);
}
