.contact{
    background: #e6d6c3;;
    display: block;
    padding: 20px;
}
.writeh1{
    padding: 20px;
    text-align: center;
    color: #2f4f4f;
    font-family: Montserrat,sans-serif;

}
.form{
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background: #e0e5ec;
    border-radius: 10px;
    box-shadow: 9px 9px 16px rgb(163 177 198 / 60%), -9px -9px 16px hsl(0deg 0% 100% / 50%);
}
.email{
    width: 100%;
    display: flex;
    padding: 8px;
}

.tf1{
    width: 90%;
    margin: 4px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    padding: 18.5px 14px;
   
}
.textArea1{
    width: 100%;
    display: flex;
    padding: 8px;
}
.textArea{
    width: 100%;
    height: 100px;
    background-color: #e0e5ec;
    padding: 10px;
    border-radius: 3px;

}